#!/usr/bin/make -f

export DH_OPTIONS

%:
	dh  $@

override_dh_auto_build:
	dh_auto_build -- -Dant.build.javac.source=1.5 -Dant.build.javac.target=1.5

override_dh_auto_configure:
	[ -d lib ] || mkdir lib # This empty directory is lost in the packages's Git clone.
	dh_auto_configure

VERSION =	1.124
PNAME =	picard-tools
PACKAGE =	lib$(PNAME)$(VERSION)-java
DEST =	debian/$(PACKAGE)/usr/share
DEST_JAVA =	$(DEST)/java
DEST_DOC =	$(DEST)/doc/$(PACKAGE)
override_dh_auto_install:
	mkdir -p $(DEST_JAVA) $(DEST_DOC)
	mv dist/picard-lib.jar $(DEST_JAVA)/picard-lib-$(VERSION).jar
	mv dist/picard.jar $(DEST_JAVA)/picard-$(VERSION).jar
	mv dist/htsjdk_lib_dir/htsjdk-$(VERSION).jar $(DEST_JAVA)
	mv dist/html $(DEST_DOC)

# Adapted from http://wiki.debian.org/SandroTosi/Svn_get-orig-source
PACKAGE =	libpicard-tools1.124-java
SRC_VERSION =	$(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
SRC_DIR =	$(PACKAGE)-$(SRC_VERSION).orig
TARBALL =	$(PACKAGE)_$(SRC_VERSION).orig.tar.bz2
PICARD_URL =	https://github.com/broadinstitute/picard/archive/$(VERSION).tar.gz
HTSJDK_URL =	https://github.com/samtools/htsjdk/archive/$(VERSION).tar.gz
.PHONY: get-orig-source
get-orig-source:
	rm -rf get-orig-source $(TARBALL)
	mkdir get-orig-source
	wget -O - $(PICARD_URL) | tar xz -C get-orig-source
	wget -O - $(HTSJDK_URL) | tar xz -C get-orig-source
	mv get-orig-source/picard-$(VERSION) get-orig-source/$(SRC_DIR)
	mv get-orig-source/htsjdk-$(VERSION) get-orig-source/$(SRC_DIR)/htsjdk
	# Removing convenience binary jar files.
	rm -rf get-orig-source/$(SRC_DIR)/lib get-orig-source/$(SRC_DIR)/htsjdk/lib
	BZIP2='--best' tar cjf $(TARBALL) -C get-orig-source $(SRC_DIR)
	rm -r get-orig-source
	@echo "  "$(TARBALL)" created; move it to the right destination to build the package"

